<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
		<title>Test</title>
		<meta name="description" content="">
		<meta name=viewport content="width=device-width, initial-scale=1">
		<meta name="mobile-web-app-capable" content="yes">
		<link rel="stylesheet" src="//normalize-css.googlecode.com/svn/trunk/normalize.css" />    
		<link rel="stylesheet" type="text/css" href="../lib/semantic/dist/semantic.min.css">
		<link rel="stylesheet" type="text/css" href="../css/helpers.css">
		<link rel="stylesheet" type="text/css" href="../css/semantic_custom.css">
		<link rel="stylesheet" type="text/css" href="../css/mycss.css">
	
</head>
<body ng-app="HomeApp">
	<nav class="ui grid">
	 <div class="ui grid container">
		<div class="row">
			<div class="column">
				<div class="ui text menu">
					<div class="header item">MuultiRoom</div>
					<div class="right menu item">
						<a href="#" id="openModal">Iniciar sesión</a>
					</div>
				</div>
			
			</div>
		</div>
		</div>
	</nav>
	<div class="ui divider"></div>

	<div class="ui grid container two column padding-top-eight">
		<div class="column">
			<img class="disabled medium ui image" src="../img/home1.png">
		</div>
		<div class="column" ng-controller="registerController">
			<form class="ui form" ng-submit="MyRegister.sendForm()">
			<h3 class="ui header">Crear una Cuenta</h3>
			<div class="field">
				<div class="two fields">
					<div class="field">
						<input type="text" name="shipping[register-first-name]" placeholder="Nombre" ng-model="MyRegister.firstName">
					</div>
					<div class="field">
						<input type="text" name="shipping[register-last-name]" placeholder="Apellido" ng-model="MyRegister.lastName">
					</div>
				</div>
			</div>
			<div class="field">
				<input type="email" name="register-email" placeholder="Correo Electrónico" ng-model="MyRegister.email">
			</div>
			<div class="field">
				<input type="password" name="register-password" placeholder="Contraseña" ng-model="MyRegister.password">
			</div>
			<div class="field">
				<div class="ui checkbox">
					<input type="checkbox" tabindex="0" class="hidden">
					<label>Acepto las  <a href="#">Condiciones y servicios de Multiroom</a></label>
				</div>
			</div>
			<button class="fluid ui blue button" type="submit">Regístrate Gratis</button>
		 </form>
		</div>
	</div>


	<div class="ui very_small modal" ng-controller="loginController">
	  <i class="close icon"></i>
	  <div class="header">
	    Iniciar sesión
	  </div>
	  <div class="content">
	  	<form class="ui form padding-top-two">
			<div class="field padding-left-one padding-right-one">
				<input type="email" name="register-email" placeholder="Correo Electrónico" ng-model="MyLogin.email">
			</div>
			<div class="field padding-one">
				<input type="password" name="register-password" placeholder="Contraseña" ng-model="MyLogin.password">
			</div>
			<div class="two fields padding-two">
					<div class="field">
						<a href="#">¿Olvidaste tu contraseña?</a>
					</div>
					<div class="field">
						<button class="fluid ui blue button" ng-click="MyLogin.sendForm()">Iniciar sesión</button>
					</div>
			</div>
		 </form>
	  </div>
	</div>

	<script src="../lib/bower/jquery/dist/jquery.min.js"></script>
	<script src="../lib/semantic/dist/semantic.min.js"></script>
	<script src="../lib/bower/angularjs/angular.min.js"></script>
	<script src="../js/home.js"></script>

	<script type="text/javascript">
		$( "#openModal" ).click(function() {
		  $('.ui.modal').modal('show');
		});
	</script>
</body>
</html>